body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  background-color: #D32F2F;
}
header {
  padding-left:16px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  font-weight: 400;
  text-align: left;
  background-color: #D32F2F;
  background-image: url(../images/achtergrond.png);
  background-repeat: no-repeat;
  color: #FFCDD2;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.ruimte {
  background-color: #D32F2F;
  background-image: url(../images/achtergrond.png);
  background-repeat: no-repeat;
}
.ruimte.boven {
  height: 48px;
  background-position-y: -48px;
}
.ruimte.beneden {
  height: 226px;
  background-position-y: -432px;
}
h1 {
  /* default = showing */
  position: relative;
  padding-left:16px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  font-weight: 400;
  text-align: left;
  background-color: #D32F2F;
  color: white;
  background-image: url(../images/achtergrond.png);
  background-repeat: no-repeat;
}
.gemeenschappelijke-gebeden h1 {
  background-position-y: -96px;
}
.drie-eenheid h1 {
  background-position-y: -144px;
}
.aanbidding h1 {
  background-position-y: -192px;
}
.heilige-geest h1 {
  background-position-y: -240px;
}
.maria h1 {
  background-position-y: -288px;
}
.voor-de-mis h1 {
  background-position-y: -336px;
}
.na-de-mis h1 {
  background-position-y: -384px;
}
h1.init {
  height: 48px;
}
h1 span {
  position: absolute;
  bottom: 0px;
}
h2.listed {
  background-color: white;
  color: #212121;
  border-bottom: 1px solid #B6B6B6;
  transition-property: background-color, color;
  transition-duration: 1s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
}
h2.selected {
  background-color: white;
  color: #212121; /* was #F44336 */
  transition-property: background-color, color;
  transition-duration: 1s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
}
h2.init {
  height: 0px;
}
h2 {
  /* default = hiding */
  position: relative;
  padding-left:16px;
  font-family: Roboto, Arial, sans-serif;
  color: white;
  line-height: 48px;
  font-size: 16px;
  overflow: hidden;
  font-weight: 400;
  text-align: left;
  background-color: white;
  border-bottom: 0px;
  transition-property: background-color, color;
  transition-duration: 1s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
}
h2 span {
  position: absolute;
  bottom: 0px;
}
.content {
  /* default = hiding */
  background-color: white;
  color: white;
  overflow: hidden;
  transition-property: color;
  transition-duration: 1s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
}
.content.init {
  height: 0px;
}
.content.showing {
  color: #212121;
  border-bottom: 1px solid #B6B6B6;
  transition-property: color;
  transition-duration: 1s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
}
p {
  margin-bottom: 5px;
  /*font-family: Georgia, serif;*/
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.slider {
  height: auto;
  background-color: transparent;
}
.slide-containeer {
  width: 50%;
  padding-top: 16px;
  padding-right: 10px;
  padding-left: 16px;
}
.slide-navigator {
  position: static;
  display: block;
  height: 20px;
  padding-top: 0px;
  clear: both;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .slide-containeer {
    width: 100%;
  }
}
/*
@media (max-width: 479px) {
  p {
    float: left;
  }
}
*/