body {
  background-image: url('../images/texturepaper%5B1%5D.png');
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-image: url('../images/leatherred%5B2%5D.png');
  font-family: Georgia, serif;
  color: #fc0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;
}
h2 {
  margin: 10px;
  font-family: Georgia, serif;
  color: #a32c28;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  text-align: center;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 28px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.slider {
  height: auto;
  background-color: transparent;
}
.slide-containeer {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
.slide-navigator {
  position: static;
  display: block;
  height: 20px;
  padding-top: 0px;
  clear: both;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .slide-containeer {
    width: 100%;
  }
}
@media (max-width: 479px) {
  p {
    float: left;
  }
}