<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.gelovenleren.gebeden"
    version     = "2.0.3"
    versionCode = "12" >
    
    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="3.6.3" />
    
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <preference name="auto-hide-splash-screen" value="false" />
    <gap:splash src="splash.png" width="480" height="800" />
    
    <name>Gebeden</name>
    
    <description>
        Katholieke gebeden 
    </description>
    
    <author href="http://gebeden.gelovenleren.net" email="info@gelovenleren.net">
        Geloven Leren
    </author>
    
    <icon src="icon.png" />
    
    <feature name="http://api.phonegap.com/1.0/device"/>
    
</widget>